.header {
    display: flex;
    background-color: #fff;
    padding: 10px 15%;
    justify-content: space-between;
    height: 35px;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    z-index: 99;
}

.header_left {
    display: flex;
}

.header_left img {
    height: 30px;
    margin-right: 10px;
}

.header_search {
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    padding: 3px 10px;
    border-radius: 5px;
}

.header_search input {
    border-color: transparent;
    border: 0px;
    outline: 0;
    min-width: 220px;
}

.header_search svg {
   font-size: 20px;
   color: #333;
}