.header_right {
    display: flex;
    align-items: center;
}

.header_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    font-size: 14px;
    color: #565656;
    position: relative;
    cursor: pointer;
}

.header_options:first-child {
    color: black;
}

.header_options:first-child::before {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    border-color: #333;
    height: 1px;
    bottom: -7px;
}

.header_options .MuiAvatar-circular {
    width: 30px;
    height: 30px;
    object-fit: contain;
}


